.RegisterPage{
    width: auto;
    height: 700px;
    border-radius: 20px;
    padding-top: 100px;
    background: radial-gradient(66.54% 118.23% at 37.47% 107.32%, #D9CBFD 0%, #7758D1 100%);
}


.RegisterPageConteiner {
    width: 1000px;
    height: 600px;
    background-color: #302C4A;
    background-image: url("../../public/Bodygradien.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 2px;
}

.RegisterPagePosition{
    display: flex;
    flex-direction: column;
    background-color: rgba(54, 47, 82, 0.3);
    width: 500px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    position: relative;
    border-radius: 20px;
}

.RegisterPageText{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(190, 156, 190, 0.8);
}

.RegisterPageH2{
    color: white;
    margin-bottom:0;
    margin-top: 0;
}



.RegisterPageinput{
    background-color: black;
    border-radius: 5px;
    color: rgba(190, 156, 190, 1);
    border: 8px solid black;
}


.RegisterPageinput::placeholder {
    color: rgba(190, 156, 190, 1);
}


.RegisterPageContinue{
    background-color: rgba(0, 167, 255, 0.8);
    border-radius: 5px;
    padding: 4px;
    color: rgba(245, 238, 243, 1);
    font-weight: bold;
    margin-top: 10px;
}

.RegisterPageContinueWith42{
    background-color:rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 4px;
    color: rgba(101, 94, 105, 1);
    font-weight: bold;
    mask-type: button;
}

.RegisterPageP{
    color: rgba(215, 187, 206, 1);
    margin-bottom: 10px;
}
.RegisterPageOR{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Registerline{
    background-color: rgba(190, 156, 190, 0.8);
    width: 120px;
    height: 1px;
}

@media only screen and (max-width: 1060px){
    .RegisterPageConteiner{
       width: 800px;
    }

}

@media only screen and (max-width: 834px){
    .RegisterPageConteiner{
       width: 600px;
    }

}

@media only screen and (max-width: 634px){
    .RegisterPageConteiner{
        width: 400px;
     }
    .RegisterPagePosition{
        width: 323px;
    }
    .RegisterPageH2{
        font-size: clamp(2px 14vw 20px);
    }
}

@media only screen and (max-width: 430px){
    .RegisterPage{
        width: 270px;
    }
    .RegisterPageConteiner{
        width: 80%;
    }
    .RegisterPagePosition{
        width: 80%;
    }
    .RegisterPageText{
        width: 80%;
        font-size: 10px;
    }
}






